/* Стилизация кнопки */

.button {
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    width: 189px;
    height: 48px;
    transition: 
        background 200ms ease-in-out, 
        opacity 200ms ease-in-out,
        border 200ms ease-in-out;
}

.button_primary {
    background: var(--blue);
    color: var(--white);
}

.button_primary:hover {
    background: #2342C0;
}

.button_secondary {
    background: var(--purple);
    color: var(--white);
}

.button_secondary:hover {
    background: #5028C6;
}

.button_alternate {
    background: var(--white);
    border: 1px solid var(--grey-3);
    color: var(--grey-4);
}

.button_alternate:hover {
    border-color: #212429;
}

.button:disabled,
.button_disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
