/* Стилизация аккордеона */

/* Скрытие стандартной и отрисовку кастомной стрелочки подсмотрел тут:
    https://developer.mozilla.org/ru/docs/Web/HTML/Element/details
*/

.accordion {
    background: var(--white);
    width: 730px;
    height: 144px;
}

.accordion__item {
    background: var(--white);
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    border-radius: 8px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    color: #000000;

    margin-bottom: 8px;
    padding: 24px 32px;
}

.accordion__item[open] {
    color: var(--black);
}

.accordion__item:last-child {
    margin-bottom: 0;
}

.accordion__summary {
    display: block;
    cursor: pointer;
}

.accordion__summary::-webkit-details-marker {
    display: none;
}

.accordion__summary::after {
    content: '\276F'; /* стрелка ВПРАВО - https://www.toptal.com/designers/htmlarrows/symbols/heavy-right-pointing-angle-quotation-mark-ornament/ */
    color: var(--grey-4);
    font-size: 24px;
    transform: rotate(90deg) translateX(-20%) translateY(20%); /* дефолтный поворот стрелки ВНИЗ. translate даёт прикольный эффект при переворачивании стрелки, по-моему */
    transition: all 120ms ease-in-out; /* анимация поворота стрелочки */
    float: right; /* вроде как плохо, но пока только так :) */
}

.accordion__item[open] > .accordion__summary::after {
    transform: rotate(-90deg) translateX(20%) translateY(-20%); /* поворот стрелки ВВЕРХ при раскрытии */
}

.accordion__content {
    color: var(--grey-4);
    margin-block-end: 0;
    margin-block-start: 0;
    padding: 16px 0px 8px 0px;
}
