.tooltip {
    position: relative;
    display: inline-block;
    line-height: 0;
}

.tooltip__trigger {
    cursor: pointer;
}

.tooltip__bubble {
    position: absolute;
    left: 50%;
    top: calc(100% - 77px);
    transform: translate(-50%);
    display: none;

    background: var(--blue-2);
    box-shadow: 0px 2px 4px var(--grey-op-1);
    border-radius: 10px;

    color: var(--grey-2);
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    white-space: nowrap;

    padding: 13px 21px 8px 21px;
}

.tooltip__bubble:after {
    position: absolute;
    left: 50%;
    top: calc(100% - 1px);
    transform: translate(-50%);
    border: 8px solid transparent;
    border-top: 7px solid var(--blue-2);
    border-bottom: none;
    content: "";
}

.tooltip__trigger:hover ~ .tooltip__bubble {
    display: block;
}
